#form_holder
  .row
    .small-3.columns

      #datepicker
      #final_date
        %h2
      #final_hour
        %h2
    .small-4.columns

      #appointment_details
        #availability
          %h6
        #hour_picker
          %table.hours{:border => "1"}
            %tr.cal_table
              %td.0700
                7:00 am
            %tr.cal_table2
              %td.0800
                8:00 am
            %tr.cal_table
              %td.0900
                9:00 am
            %tr.cal_table2
              %td.1000
                10:00 am
            %tr#5.cal_table
              %td.1100
                11:00 am
            %tr#6.cal_table2
              %td.1200
                12:00 pm
            %tr#7.cal_table
              %td.1300
                1:00 pm
            %tr#8.cal_table2
              %td.1400
                2:00 pm
            %tr#8.cal_table2
              %td.1500
                3:00 pm
            %tr#8.cal_table2
              %td.1600
                4:00 pm

  = simple_form_for @appointment do |f|
    = f.hidden_field :hour
    = f.hidden_field :date
    = f.submit

